.git
.next
node_modules
backend/node_modules
backend/.env
backend/uploads/*
!backend/uploads/.gitkeep

.env
.env.local
.env.production
.env.development

npm-debug.log*
*.log
.DS_Store
Thumbs.db
.vercel
